{% extends 'pa_charlas_app/base.html' %}
{% block content %}



<div style="width: 450px;  margin: 20px auto; padding: 10px;">
<h1>Contactanos</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit">Enviar</button>
    </div>
</form>
<div style="margin: 50px auto;">
<h3> No olvides que tambien te podes contactar por nuestro grupo de facebook</h3>
<a href="https://www.facebook.com/groups/PodemosAprender"> ir a Facebook </a>
</div>
</div>
{% endblock %}