{% extends 'pa_charlas_app/base.html' %}

{% load bootstrap4 %}

{% block content %}
	<div class="container">
		<h3>{{ titulo }}</h3>	

		<div>
		{% block resumen %}
		{% endblock %}
		</div>

		{% for item in object_list %}

			<div class="card" {% block item_tag_atributos %}{% endblock %}>
				<div class="card-body">
					<p class="card-title text-muted">

						{% block item_titulo %}

						<a href="{% url vista_detalle pk=item.pk %}">{{ item.fh_creado }}</a>
						<i>por</i>
						{{ item.de_quien }}

						{% endblock %}

					</p>
					<p class="card-text">

						{% block item_cuerpo %}

						{{ item }}

						{% endblock %}
					</p>
					{% block item_links %}

					<a href="{% url vista_detalle pk=item.pk %}" class="card-link">...</a>

					{% endblock %}
				</div>

			</div>
		{% endfor %}

		<p>

			{% block acciones_sin_item %}

				{% with cartel="Crear "|add:type_name %}
				{% bootstrap_button cartel  href=create_url  %}
				{% endwith %}

			{% endblock %}

		</p>

	{% endblock %}
	</div>
