{% extends 'pa_charlas_app/base.html' %}

{% load bootstrap4 %}
{% load pa_charlas_app_extras %}

{% block content %}
	<div class="container">
		<h3>{{ titulo }}</h3>	

		<div>
		{% block resumen %}
		{% endblock %}
		</div>

		<!-- Buscador de charlas -->
		<input type="text" 
		placeholder="Buscar charla" 
		onkeyup="buscarCharla(this.value, '#botonesParaCharlas')"
		>
		<div id="botonesParaCharlas"></div>

		{% for item in object_list %}

			<div class="card" {% block item_tag_atributos %}{% endblock %}>
				<div class="card-body">
					<p class="card-title text-muted">

						{% block item_titulo %}

						<a href="{% url vista_detalle pk=item.pk %}">{{ item.fh_creado }}</a>
						<i>por</i>
						{{ item.de_quien }}

						{% endblock %}

					</p>
					<p class="card-text">

						{% block item_cuerpo %}

						{{ item }}

						{% endblock %}
					</p>
					{% block item_links %}

					<a href="{% url vista_detalle pk=item.pk %}" class="card-link">...</a>

					{% endblock %}
				</div>

			</div>
		{% endfor %}

{% if page_obj %}
	{% define page_obj as object_list %}
{% endif %}
<nav aria-label="Navegar páginas">
  <ul class="pagination">
    <li class="page-item{% if not object_list.has_previous %} disabled {% endif %}">
      <a class="page-link" href="?page=1" aria-label="Primera">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Primera</span>
      </a>
    </li>
    <li class="page-item{% if not object_list.has_previous %} disabled {% endif %}">
      <a class="page-link" href="?page={% if object_list.has_previous %}{{ object_list.previous_page_number }}{% endif %}" aria-label="Previa">
        <span aria-hidden="true">&lt;</span>
        <span class="sr-only">Previa</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ object_list.number }}" aria-label="Actual">
       {{ object_list.number }} de {{ object_list.paginator.num_pages }}
			</a>
		</li>
    <li class="page-item{% if not object_list.has_next %} disabled {% endif %}">
      <a class="page-link" href="?page={% if object_list.has_next %}{{ object_list.next_page_number }}{% endif %}" aria-label="Siguiente">
        <span aria-hidden="true">&gt;</span>
        <span class="sr-only">Siguiente</span>
      </a>
    </li>
    <li class="page-item{% if not object_list.has_next %} disabled {% endif %}">
      <a class="page-link" href="?page={{ object_list.paginator.num_pages }}" aria-label="Ultima">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Ultima</span>
      </a>
    </li>
  </ul>
</nav>

		<p>

			{% block acciones_sin_item %}

				{% with cartel="Crear "|add:type_name %}
				{% bootstrap_button cartel  href=create_url  %}
				{% endwith %}

			{% endblock %}

		</p>

	{% endblock %}
	</div>
