{% extends 'pa_charlas_app/base.html' %}

{% load bootstrap4 %}

{% block content %}
	<h2>{{ titulo }}</h2>
	<form method="POST">{% csrf_token %}
		<input type="hidden" name="url_donde_volver" value="{{ url_donde_volver }}">
		<input type="hidden" name="extra_form_data" value="{{ extra_form_data }}">
		{% bootstrap_form form %}

		{% bootstrap_button 'Guardar' button_type='submit' %}

		<input type="text" 
			placeholder="Tags y Usuarios" 
			onkeyup="showTagButtons(this.value, '#botonesParaTags', '#id_texto')"
		>

	</form>
	<div id="botonesParaTags"></div>
{% endblock %}

{% block extra_js%}
	<script>
		// este script manda un mensaje de alerta 
		// si estas escribiendo un texto y cerras la ventana sin guardarlo
		window.addEventListener('beforeunload', function (e) {//U: captura el evento 'cerrar la ventana'
		// DBG: console.log(boton);
			const element = document.getElementById('id_texto'); //U: me guardo el textArea
			if(element.value !='' && !post){ 
				//A: el textarea tiene texto y no se apreto guardar
				//A: le mando la alerta
				e.preventDefault(); //U: evito que se cierre la ventana
				e.returnValue = '¿Desea salir y perder los cambios?';	
			}
		});

		// quiero una funcion que me diferencia cuando recarga la ventana porque guardo el texto
		// y cuando simplemente la esta cerrando sin guardar
		let post = false;
		const boton = document.getElementsByClassName('btn')[0];//U: le pido el primer elemento con la clase 'btn'
		//esto tuve que hacerlo asi porque el button no tiene id
		
		boton.addEventListener('click',function() {
			//A: apreto guardar texto
			post = true
		});
	</script>
{% endblock extra_js%}