{% extends 'pa_charlas_app/base_list.html' %}

{% load bootstrap4 %}
{% load pa_charlas_app_extras %}

	{% block antes_de_content %}
<div id="ModalElegirCharla" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar a otra charla</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿A qué charlas querés agregar el texto?</p>
				<textarea id="charlas_elegidas" style="width: 100%" rows=2></textarea></br>
				<p>Buscar <input type="text" 
					placeholder="Tags y Usuarios" 
					onkeyup="showTagButtons(this.value, '#botonesParaTags', '#charlas_elegidas')"
				></p>
				<div id="botonesParaTags"></div>
      </div>
      <div class="modal-footer">
				<button type="button" class="btn btn-primary" 
					onclick="ModalElegirCharlaOnOk_(document.getElementById('charlas_elegidas').value)"
				>Aceptar
				</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
	{% endblock %}

	{% block item_titulo %}
		<div style="text-align: right; font-size: 90%">
			<a name="texto_{{ item.texto.pk }}"></a>
			<a name="{{ item.texto.de_quien }}__{{ item.texto.fh_editado|date:'U' }}"></a>
			<a href="{% url "usuario_plan" username=item.texto.de_quien.username %}">
				{{ item.texto.de_quien }},
			</a>
			{% ifnotequal item.texto.fh_editado item.texto.fh_creado %}
				{{ item.texto.fh_editado }} (editado)
			{% else %}
				{{ item.texto.fh_creado }}
			{% endifnotequal %}

			{% if fh_visita_anterior|date:'c' < item.texto.fh_editado|date:'c' %}
			<a name="nuevo">(nuevo)</a>
			{% endif %}
		</div>

		{% comment %}Para editar el orden de los textos en una charla{% endcomment %}
		{% if request.user.is_authenticated %}
			<div style="text-align: right; font-size: 90%">
				Orden <input id="orden_{{ item.pk }}" value="{{item.orden}}">
				<button type="button" class="btn btn-primary" 
					onClick="guardarOrdenEnCharlaClick(this,'orden_{{ item.pk }}', {{ item.texto.pk }}, '{{ item.charla.titulo }}')">
					<span class="fa fa-sort"><span class="sr-only">Guardar</span></span>
				</button>
			</div>
		{% endif %}
	{% endblock %}

	{% block item_cuerpo %}
		<div id="texto_{{ item.texto.pk }}" class="markdown">
{{ item.texto.texto }} {% comment %} Mantener esta línea pegada al margen izquierdo {% endcomment %}
		</div>
	{% endblock %}

	{% block item_links %}
		<div style="text-align: right;">
			{% if item.texto.de_quien == request.user and puede_crear or request.user.username == "gonzalezsolisnm" or request.user.username == "melisawhatsapp"%}
			<!-- TODO: debe haber una manera mas prolija de permitir que distintos moderadores editen un texto-->
				<a href="{% url 'charla_texto_edit' charla_pk=charla.pk pk=item.texto.pk %}" class="btn btn-accesible "><i class="fa fa-edit" aria-hidden="true"></i><span class="sr-only">editar</span></a>
			{% endif %}

			{% if request.user.is_authenticated %}
				<button type="button" class="btn btn-primary" onClick="agregarAOtraCharlaClick(this,{{item.texto.pk }})"><span class="fa fa-plus"><span class="sr-only">Agregar a otra charla</span></span></button>
			{% endif %}

			{% url_full 'texto_detail' pk=item.texto.pk as permalink %}
			{% include 'pa_charlas_app/p_compartir_botones.html' with permalink=permalink texto=item.texto.texto texto_element_id="#texto_"|addstr:item.texto.pk %}
			<a href="#" onclick="copyToClipboard('{% url_full %}#texto_{{ item.texto.pk }}'); return false" class="btn btn-social-icon btn-accesible"><span class="fa fa-link"><span class="sr-only">sólo link</span></span></a>
		</div>
	{% endblock %}

{% block acciones_sin_item %}
	{% if user.is_authenticated and puede_crear %}
		{% url 'charla_texto_nuevo_s' charla_titulo=charla.titulo as texto_new_url %}
		{% bootstrap_button 'Nuevo texto' href=texto_new_url  %}
	{% endif %}

{% endblock %}

{% block resumen %}
	<ul>
	{% for participacion in participantes %}
		<li><a href="#{{ participacion.texto__de_quien__username }}__{{ participacion.fh_ultimo|date:'U' }}">
		{{ participacion.texto__de_quien__username }}: {{ participacion.fh_ultimo }}
		</a></li>
	{% endfor %}
	</ul>
{% endblock %}
