{% extends 'pa_charlas_app/base.html' %}
{% block title %}Sign in{% endblock %}

{% block content %}
<p>Para poder escribir y ver más cosas en PodemosAprender necesitás iniciar sesión</p>
<div class="row">
  <div class="col-md-4 social-buttons">
		<a class="btn btn-block btn-social btn-facebook" href="{% url "social:begin" "facebook" %}">
			<span class="fa fa-facebook"></span> Sign in with Facebook
		</a>
    <a class="btn btn-block btn-social btn-google" href="{% url "social:begin" "google-oauth2" %}">
			<span class="fa fa-google"></span> Sign in with Google
		</a>
	</div>
</div>
{% endblock %}
