{% extends 'pa_charlas_app/base_list.html' %}

{% load bootstrap4 %}
{% load pa_charlas_app_extras %}


	{% block item_titulo %}
		{{ item.de_quien }},

		{% ifnotequal item.fh_editado item.fh_creado %}
			{{ item.fh_editado }} (editado)
		{% else %}
			{{ item.fh_creado }}
		{% endifnotequal %}

		{% if fh_visita_anterior|date:'c' < item.fh_editado|date:'c' %}
		<a name="nuevo">(nuevo)</a>
		{% endif %}
	{% endblock %}

	{% block item_cuerpo %}
		<div id="texto_{{ item.pk }}" class="markdown">
{{ item.texto }} {% comment %} Mantener esta línea pegada al margen izquierdo {% endcomment %}
		</div>
	{% endblock %}

	{% block item_links %}
		{% if item.de_quien == request.user and puede_crear %}
			<a href="{% url 'charla_texto_edit' charla_pk=charla.pk pk=item.pk %}" class="btn btn-primary "><i class="fa fa-edit" aria-hidden="true"></i><span class="sr-only">editar</span></a>
		{% endif %}

		{% url_full 'texto_detail' pk=item.pk as permalink %}
		{% include 'pa_charlas_app/p_compartir_botones.html' with permalink=permalink texto=item.texto texto_element_id="#texto_"|addstr:item.pk %}

	{% endblock %}

{% block acciones_sin_item %}
	{% if user.is_authenticated and puede_crear %}
		{% url 'charla_texto_nuevo' charla_pk=charla.pk as texto_new_url %}
		{% bootstrap_button 'Nuevo texto' href=texto_new_url  %}
	{% endif %}

{% endblock %}

