{% extends 'pa_charlas_app/base.html' %}

{% load bootstrap4 %}
{% load pa_charlas_app_extras %}


{% block meta %}
	<meta property="fb:app_id" content="741688646199607" />
	<meta property="og:title" content="{{ texto.fh_creado }} por {{ texto.de_quien }} en PodemosAprender"/>
	<meta property="og:description" content="{{ texto.texto }}"/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ permalink }}" />
	<link rel="canonical" href="{{ permalink }}" />
{% endblock %}

{% block content %}
	{% url_full 'texto_detail' pk=texto.pk as permalink %}
	<div class="texto_item">
		<p>
			Compartir en {{ permalink }}
			{% include 'pa_charlas_app/p_compartir_botones.html' with permalink=permalink texto=texto.texto texto_element_id="#texto_"|addstr:texto.pk %}
		</p>

		<div id="texto">
			<p>
			<a href="{% url 'texto_detail' pk=texto.pk %}">{{ texto.fh_creado }}</a>
			<i>por</i>
			{{ texto.de_quien }}
			</p>
			<p>{{ texto.texto|linebreaksbr }}</p>
		</div>
		<p>

		</p>
	</div>
{% endblock %}

