{% extends 'pa_charlas_app/base.html' %}
{% load static %}

{% load bootstrap4 %}
{% load pa_charlas_app_extras %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'pa_lib/css/estilos-como-voy.css' %}">
{% endblock %}
{% block content %}
	<div class="containter">
		<a name="arriba"></a>
		<h3>¿Cómo va {{ esteUsuario.get_full_name }} (@{{ esteUsuario.username }})?</h3>	

		<div style="text-align: right; font-size: 90%;">
			| <a href="#presentacion">Presentacion</a> | <a href="#plan">Plan</a> | <a href="#menciones">Menciones</a> | <a href="#participacion">Participación</a> | <a href="#arriba">Arriba</a> | 
		</div>

		<div class="my-3">
			<a name="presentacion"></a>
			<h4>Cómo te presentás</h4> 
			<!-- ayuda presentacion -->
			<button type="button" class="btn btn-outline-success ayuda" onclick="ayuda('ayuda_mensaje','comovoy_presentacion')">
				<span class="fa fa-question-circle"><span class="sr-only">Agregar a otra charla</span></span>
			</button>
			<!-- Modal Ayuda VER: https://blog.gtoeurope.es/crear-modal-en-bootstrap/-->
			<div id="ModalAyuda" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="ModalAyudaTitle"></h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body" id="ModalAyudaBody">

					conseguir el texto
					
					</div>
					<div class="modal-footer">

					  <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cerrar</button>
					</div>
				  </div>
				</div>
			</div>
			<div class="px-3 py-3">
				{% for item in textosPerfil %}
					{% include 'pa_charlas_app/p_texto_simple.html' with item=item limpiar='#.*_de_participante_\\S+' %}
				{% endfor %}
			</div>
			<p style="text-align: right; font-size: 90%;"><a href="{% url 'charla_texto_list_t' charla_titulo=charla_perfil %}">Más</a></p>

			<!-- ayuda ideas -->
			<h5>Ideas</h5>
			<button type="button" class="btn btn-outline-success ayuda" onclick="ayuda('ayuda_mensaje','comovoy_ideas')">
				<span class="fa fa-question-circle"><span class="sr-only">Agregar a otra charla</span></span>
			</button>
			
			{% for item in textosPerfilIdeas|slice:":5" %}
				{% include 'pa_charlas_app/p_texto_card.html' with item=item %}
			{% endfor %}
			<p style="text-align: right; font-size: 90%;"><a href="{% url 'charla_texto_list_t' charla_titulo=charla_perfil_ideas %}">Más ideas</a></p>

		</div>

		<div style="text-align: right; font-size: 90%;">
			| <a href="#presentacion">Presentacion</a> | <a href="#plan">Plan</a> | <a href="#menciones">Menciones</a> | <a href="#participacion">Participación</a> | <a href="#arriba">Arriba</a> | 
		</div>

		<div class="my-5 py-2 border-top">
			<a name="plan"></a>
			<h4>Tu plan</h4>
			<!-- ayuda tu plan -->
			<button type="button" class="btn btn-outline-success ayuda" onclick="ayuda('ayuda_mensaje','comovoy_tu_plan')">
				<span class="fa fa-question-circle"><span class="sr-only">Agregar a otra charla</span></span>
			</button>
			
			<div class="px-3 py-3">
			{% for item in textosPlan %}
				{% include 'pa_charlas_app/p_texto_simple.html' with item=item %}
			{% endfor %}
			</div>
			<p style="text-align: right; font-size: 90%;"><a href="{% url 'charla_texto_list_t' charla_titulo=charla_plan %}">Más</a></p>


			<h5>Ideas</h5>
			<!-- ayuda ideas -->
			<button type="button" class="btn btn-outline-success ayuda" onclick="ayuda('ayuda_mensaje','comovoy_ideas')">
				<span class="fa fa-question-circle"><span class="sr-only">Agregar a otra charla</span></span>
			</button>
			{% for item in textosPlanIdeas|slice:":5" %}
				{% include 'pa_charlas_app/p_texto_card.html' with item=item %}
			{% endfor %}
			<p style="text-align: right; font-size: 90%;"><a href="{% url 'charla_texto_list_t' charla_titulo=charla_plan_ideas %}">Más ideas</a></p>

		</div>

		<div style="text-align: right; font-size: 90%;">
			| <a href="#presentacion">Presentacion</a> | <a href="#plan">Plan</a> | <a href="#menciones">Menciones</a> | <a href="#participacion">Participación</a> | <a href="#arriba">Arriba</a> | 
		</div>


		<div class="my-5 py-2 border-top">
			<a name="menciones"></a>
			<h4>Textos que te mencionaron</h4>

			{% for item in textosQueMeNombraron|slice:":5" %}
				{% include 'pa_charlas_app/p_texto_card.html' with item=item %}
			{% endfor %}
			<p style="text-align: right; font-size: 90%;"><a href="{% url 'usuario_textos_que_nombran' username=esteUsuario.username %}">Ver Todas</a></p>
		</div>

		<div style="text-align: right; font-size: 90%;">
			| <a href="#presentacion">Presentacion</a> | <a href="#plan">Plan</a> | <a href="#menciones">Menciones</a> | <a href="#participacion">Participación</a> | <a href="#arriba">Arriba</a> | 
		</div>

		<div class="my-5 py-2 border-top">
			<a name="participacion"></a>
			<h4>Tu participación</h4>
			{% for item in textosQueEscribi|slice:":5" %}
				{% include 'pa_charlas_app/p_texto_card.html' with item=item %}
			{% endfor %}
			<p style="text-align: right; font-size: 90%;"><a href="{% url 'usuario_texto_list_k' pk=esteUsuario.pk %}">Ver Todas</a></p>
		</div>

		<div style="text-align: right; font-size: 90%;">
			| <a href="#presentacion">Presentacion</a> | <a href="#plan">Plan</a> | <a href="#menciones">Menciones</a> | <a href="#participacion">Participación</a> | <a href="#arriba">Arriba</a> | 
		</div>

	</div>
{% endblock %}
